@{
    ViewData["Title"] = "Home Page";
}

<h2>Trabalho Final – Av 05 e Av 06</h2>

<h4>Opções</h4>

<div class="row">
    <div class="col-md-6">
        <h2>Implementar estrutura no estilo Blockchain</h2>
        <ul>
            <li>Descentralizada - P2P</li>
            <li>Estilo: Escrita de blocos interligados (cadeia) baseada em transações – apenas escreve, não atualiza (livro razão) – deve levar em consideração o TEMPO das ocorrências</li>
            <li>Verifica consistência – solicita que N membros da estrutura validem uma operação (transação)</li>
            <li>Implementa uma forma de nome, descoberta e ingresso na rede para novos membros (resolução de nome e endereço, e roteamento) – alguma coisa deste item pode ser centralizada</li>
            <li>Uma interface e formato de troca de dados devem ser definidos para que a comunicação ocorra entre diferentes aplicações (possivelmente em diferentes linguagens de programação)</li>
            <li>A definir...
        </ul>

        <h2>Implementar aplicação baseada em Blockchain ou Ethereum</h2>
        <ul>
            <li>Identificar uma oportunidade</li>
            <li>Definir a infraestrutura a ser utilizada (inclusive API)</li>
            <li>Verificar se já não existe algo do tipo</li>
            <li>Convencer o grupo</li>
            <li>A definir ...</li>
        </ul>

        <p>
            Em ambos os casos deverá ser feito Projeto do Software (Av 05) e Implementação (Av. 06)

            Para o Projeto do SW: Lembrar das aulas de Engenharia de Software e Programação.
            Sugestões: Requisitos, Diagramas (classe, atividades, sequência, componentes) ou Relatório.

            Para Implementação: Software funcionando! Qualquer linguagem! Qualquer plataforma!
        </p>

    </div>
    <div class="col-md-6">

    </div>
</div>
